@font-face {
    font-family: "Outfit";
    src: url(./Outfit/Outfit-VariableFont_wght.ttf);
}

body{
    background-color: hsl(212, 45%, 89%);
}

img{
    max-width: 25%;
    border-radius: 10px;
    margin-bottom: 10px;
   /* display: block;*/
}

.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;    
    box-shadow: 5px 5px 5px 5px solid grey; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh -1px);
    margin:1.25rem;
    margin-bottom: 2rem;
    
}

.Heading{
    font-family: "Outfit" , sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 5px;
}

.Text{
    font-family: "Outfit";
    font-weight: 400;
    color: hsl(212, 45%, 89%);
    font-size: 15px;
}

footer{
    margin-top: 300px;
    text-align: center;
}