@font-face {
    font-family: "Outfit";
    src: url(./Outfit/Outfit-VariableFont_wght.ttf);
}

body{
    background-color: hsl(212, 45%, 89%);
}
.container{
    background-color: white;
}

.Heading{
    font-family: "Outfit";
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.Text{
    font-family: "Outfit";
    font-weight: 400;
    color: hsl(212, 45%, 89%);
}